article {
    flex-direction: column;
    border-radius: 10px;
    display: flex;
    border: 1px solid #3b3b3b;
    background-color: whitesmoke;
    border-style: solid;
    border-width: 1px;
    margin-top: 2vh;
}

article header {
    background-color: lightgray;
    border-radius: 10px 10px 0px 0px;
    padding: 0.5em;
}

article:hover {
    border: 2px solid #3b3b3b;
}

article header img {
    float: left;
    border-radius: 10px;
    max-width:20%;
    max-height:100%;
}

article header .tweet-head {
    line-height: 0;
    margin-left: 1vw;
    font-size: 2em;
    float: left;
}

article header .tweet-handle {
    float: right;
}

article .tweet {
    text-align: left;
    padding: 0.5em;
}

article footer {
    padding: 0.5em;
    border-top: solid lightgray 1px;
    display: flex;
    align-items: center;
}

article footer .timer {
    font-size: 75%;
    flex-grow: 5;
    text-align: left;
}

article footer .icons {
    display: none;
}

article:hover footer .icons {
    display: block;
}
